.pdp-media{
    height: 70%;
}

.pdp-title{

}

.pdp-about-product{
    padding-top: 7%;
}

.pdp-main{
    padding-left:10%;
    border-right: 1px solid rgba(165, 182, 187, 0.2);
}

.add-to-cart{
    width: 100%;
    padding-bottom: 10%;
}

.pdp-add{
    padding-left: 5%;
    padding-top: 7%;
}

.price-info{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: green;
    padding-bottom: 10%;
}